myfiles/MessaggioDiLogSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="asteroids.MessaggioDiLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nomeApplicazione"/>
        <xs:element type="xs:string" name="indirizzoIpClient"/>
        <xs:element type="xs:string" name="timestamp"/>
        <xs:element type="xs:string" name="evento"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>